.body {
  background-color: #F2F2F2;
  margin: 50px;
}

h1, h2 {
  font-family: 'Wendy One', sans-serif;
  color: #5B16E3;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  max-width: 750px;
}

#button {
  background-color: white;
  border: 1px solid #5B16E3;
  color: #5B16E3;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 350px;
  padding-top: 8px;
}

a {
  text-decoration: none;
}

#button:hover{
  background-color: #5B16E3;
}

a:hover {
  color: white;
}
